<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>La creatividad no es talento sino actitud.</h1>
        </div>
	    <div class="container">

	        <div class="row">
	            <div class="col-md-12">
			        <p class="text-primary"># Steinsel</p>
			        - [Centrocampista - 18/19] (Poussins)
			        - 1 Categoria superior a su edad
	            </div>
 <p class="text-secondary">.</p>
	            <div class="col-md-12">
	                <p class="text-primary"># Federación Luxemburguesa Fútbol </p>
	                - [Pre-Selecionado 18/19] (Pupilles)
	            </div>
 <p class="text-secondary">.</p>
	            <div class="col-md-12">
	                <p class="text-primary">Ent. Syrdall</p>
	                - [Delantero - 17/18](Poussins - Final FLF LALUX)
	                - Mejor Jugador Torneo de invierno Junglinster
	            </div>
 <p class="text-secondary">.</p>
	            <div class="col-md-12">
	                <p class="text-primary"># US Sandweiler</p>
	                - [Delantero - 15/16/17] (Bambinis)
	                - [Mérito] (Campeones Torneos en Remich Schengen Sandweiler)
	            </div>
	        </div>
		</div>
</section>