<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>La creatividad no es talento sino actitud</h1>
        </div>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
			        <p class="text-primary"># Racing FC Union Luxembourg /Federación Luxemburguesa Fútbol</p>
			        <p>- [Delantero - 21/22] (Minimes)</p>
					<p>- [Equipe Nationale] U12</p>
	            </div>
	            <div class="col-md-12">
			        <p class="text-primary"># Racing FC Union Luxembourg / Federación Luxemburguesa Fútbol</p>
			        <p>- [Delantero - 20/21] (Minimes)</p>
					<p>- [Detection] U11</p>
	            </div>
	            <div class="col-md-12">
			        <p class="text-primary"># Steinsel / Federación Luxemburguesa Fútbol</p>
			        <p>- [Centrocampista - 19/20] (U)</p>
					<p>- [Detection] U10</p>
	            </div>
	            <div class="col-md-12">
			        <p class="text-primary"># Steinsel</p>
			        <p>- [Centrocampista - 18/19] (Poussins)</p>
	            </div>
	            <div class="col-md-12">
	                <p class="text-primary"># Ent. Syrdall</p>
	                 <p>- [Delantero - 17/18](Poussins - Final FLF LALUX)</p>
	                - Mejor Jugador Torneo de invierno Junglinster</p>
	            </div>
	            <div class="col-md-12">
	                <p class="text-primary"># US Sandweiler</p>
	                <p>- [Delantero - 15/16/17] (Bambinis)</p>
	                <p>- [Mérito] (Campeones Torneos en Remich Schengen Sandweiler)</p>
	            </div>
	        </div>
		</div>
</section>